@model Motion_Mint.Models.Carreg

@{
    ViewData["Title"] = "Details";
}

<div class="container">
    <div class="card">
        <div class="card-body">
            <h1 class="card-title">Car Details</h1>

            <div>
               
                <hr />
                <dl class="row">
                    <dt class="col-sm-2">Car Number:</dt>
                    <dd class="col-sm-10">@Html.DisplayFor(model => model.Carno)</dd>

                    <dt class="col-sm-2">Make:</dt>
                    <dd class="col-sm-10">@Html.DisplayFor(model => model.Make)</dd>

                    <dt class="col-sm-2">Model:</dt>
                    <dd class="col-sm-10">@Html.DisplayFor(model => model.Model)</dd>

                    <dt class="col-sm-2">Available:</dt>
                    <dd class="col-sm-10">@Html.DisplayFor(model => model.Available)</dd>
                </dl>
            </div>

            <div class="mt-3">
                <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary">Edit</a>
                <a asp-action="Index" class="btn btn-secondary">Back to List</a>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
