@model Motion_Mint.Models.Carreg

@{
    ViewData["Title"] = "Edit";
}

<div class="container">
    <h1>Edit Car Details</h1>

    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Car Details</h4>
            <hr />
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />

                <div class="form-group">
                    <label asp-for="Carno" class="control-label">Car Number</label>
                    <input asp-for="Carno" class="form-control" />
                    <span asp-validation-for="Carno" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Make" class="control-label">Make</label>
                    <input asp-for="Make" class="form-control" />
                    <span asp-validation-for="Make" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Model" class="control-label">Model</label>
                    <input asp-for="Model" class="form-control" />
                    <span asp-validation-for="Model" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Available" class="control-label">Available</label>
                    <input asp-for="Available" class="form-control" />
                    <span asp-validation-for="Available" class="text-danger"></span>
                </div>
                <br/>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Save</button>
                    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
