@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Index";
}

<div class="row">
    @using (Html.BeginForm("Save", "rent", FormMethod.Post, new { id = "popupForm" }))
    {
        <div>
            <h1>Car Rental</h1>
        </div>

        
        <div class="form-group">
            <label class="form-label"> Car No</label>
             <select class="form-control" id="carno" name="carno" placeholder="Car No" required>
                 <option>Please Select</option>
             </select>
        </div>

        <div class="form-group">
            <label class="form-label">Customer Id</label>
            <input type="text" id="custid" name="custid" class="form-control" placeholder="Customer Id" required>                  
        </div>

        <div class="form-group">
            <label class="form-label">Customer Name</label>
            <input type="text" id="custname" name="custname" class="form-control" placeholder="Customer Name" required>
        </div>

        <div class="form-group">
            <label class="form-label">Rental Fee</label>
            <input type="text" id="fee" name="fee" class="form-control" placeholder="Rental Fee" required>
        </div>

        <div class="form-group">
            <label class="form-label">Start Date</label>
            <input type="date" id="sdate" name="sdate" class="form-control" placeholder="Start Date" required>
        </div>

        <div class="form-group">
            <label class="form-label">End Date</label>
            <input type="date" id="edate" name="edate" class="form-control" placeholder="End Date" required>
        </div>

        <div>

            <input type="submit" value="Save" class="btn btn -success"/>

        </div>

    }

</div>

@section scripts
{
<script src ="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
   
<script>

    getCar();

    function getCar()
    {
        $.ajax({
                type: 'GET',
                url='Rental/GetCar',
                dataType: 'JSON',
            success: function (data) 
            { 

                console.log(data);
                    for (var =0, i < data.length; i++) {
                        $("#carno").append($("<option/>", {
                            text: data[i].carno
                        }));
                    }

            }




        });

    }


    </script>

}
